{% extends "index.html" %} {% block content %}

<style>
  body {
    background: #f2f6ff;
    font-family: "Poppins", sans-serif;
  }

  .signup-wrapper {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .signup-card {
    background: #fff;
    width: 100%;
    max-width: 420px;
    border-radius: 18px;
    padding: 35px 30px;
    box-shadow: 0 8px 18px rgba(0, 56, 255, 0.15);
    border-bottom: 4px solid #0027cb;
    transition: 0.3s;
  }

  .signup-card:hover {
    box-shadow: 0 12px 25px rgba(0, 56, 255, 0.28);
    transform: translateY(-4px);
  }

  .signup-card h3 {
    font-weight: 700;
    color: #0027cb;
  }

  .signup-input {
    height: 46px;
    padding: 10px 14px;
    border-radius: 12px;
    border: 2px solid #004effa4;
    outline: none;
    font-size: 15px;
  }

  .signup-input:focus {
    border-color: #001dbb;
    box-shadow: 0 0 4px rgba(0, 41, 200, 0.3);
  }

  .btn-signup {
    background: #0027cb;
    border-radius: 12px;
    padding: 12px 0;
    font-size: 17px;
    color: #fff;
    font-weight: 600;
    border: none;
    transition: 0.3s;
  }

  .btn-signup:hover {
    background: #001799;
  }

  .btn-login {
    margin-top: 10px;
    display: block;
    text-align: center;
    padding: 10px 0;
    border-radius: 10px;
    font-weight: 600;
    color: #340086ff;
    transition: 0.3s;
  }
</style>

<div class="signup-wrapper">
  <div class="signup-card">
    <h3 class="text-center mb-4">Admin Registration</h3>

    <form method="POST" action="/admin-signup">
      <div class="mb-4">
        <input
          type="text"
          name="name"
          class="form-control signup-input"
          placeholder="Enter Name"
          required
        />
      </div>

      <div class="mb-4">
        <input
          type="email"
          name="email"
          class="form-control signup-input"
          placeholder="Enter Email"
          required
        />
      </div>

      <button class="btn-signup w-100" type="submit">Send OTP</button>
    </form>

    <a href="/admin-login" class="btn-login" style="color: #0027cb"
      >← Back to Login</a
    >
  </div>
</div>

{% endblock %}
